<div class="container fixed-top colorBody1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light colorNavbar2 mt1">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/compu.png" width="40" height="40" alt="" loading="lazy">
      </a>
      <a class="navbar-brand colorName4 ml-3" >
        <strong class="text-uppercase tunnerZize">
          Category News 
        </strong>
      </a>
      <button class="navbar-toggler colorBody1 mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container text-justify ml-4 mr-4">     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/Start']">Start</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/News']">News</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/CompleteNews']">Complete News</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/Message']">Messages</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/Settings']">Settings</a>
            </li>
          </ul>
          <button class="btn btn-outline-success colorName4 my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
  </nav>
</div>